<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.myi18n.dao.NationnalityCodeMapper" >

  <resultMap id="MyBaseResultMap" type="com.example.myi18n.entity.I18nAllocate" >
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="langs" property="langs" jdbcType="OTHER" />
  </resultMap>

  <resultMap id="WebToMap" type="HashMap">
    <result property="key" column="label" javaType="java.lang.String"/>
    <result property="value" column="langs" javaType="java.lang.String" />
  </resultMap>

  <!-- ZDY  -->
  <select id="buildLangToWeb" resultMap="WebToMap">
    select
      label , langs
    from t_i18n_allocate
    where type = 'Web' and to_web = 1
  </select>



</mapper>